 <div>
      <div class="recipe-dialog">

        <div class="modal-header">
          <h3>Add a new Post!</h3>
        </div>

        <p class = "intro-p">
        Please fill in all of the fields to add a post to your posts list
        </p>

        <div class="modal-body">

          <div class="post-input-element">
            <label for="post-name-input">Post Title</label>
            <input type="text" id="post-name-input"></input>
          </div>

          <div class="post-input-element">
            <label for="post-ingredients-input">Description</label>
            <input type="text" id="post-ingredients-input">
          </div>

          <div class="post-input-element">
            <label for="post-link-input">Link to github problem</label>
            <input type="text" id="post-link-input">
          </div>

          <div class="post-input-element">
            <label for="post-photo-input">Photo Link</label>
            <input type="text" id="post-photo-input">
          </div>

        </div>
    </div>
</div>

<div class="button-container">
 <button type="button" id="addRecipeButton">Add Post</button>
 </div>